:root{
    --primary: rgb(255, 245, 230);
    --font_color: black;
    --brown: rgb(144, 52, 19);
    --footer: rgb(218, 130, 67, 0.66);
    
}
*{
    box-sizing: border-box;
    
}

body {
    margin: 0 auto;
}

div {
    padding: 20px;
}

/*inicio navs*/
#nav{
    display: flex;
    margin: 100%;
    background-color: var(--footer);
    margin: 0 auto;
    width: 100%;
}
.navbar{
    background-color: var(--primary);
    border-radius: 15px;
    box-sizing: content-box;
    margin: 0 auto;
}

nav ul{
    display: flex;
    padding: 0 .5em;
    
}

nav li{
    margin-left: 20px;
    list-style: none;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: var(--font_color);
}

nav a:hover{
    color: brown;
}


/*fin navs*/

/*inicio slider*/
.slider{
    background-image: url(./assets/imagenes/slider.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    z-index: 2;
}
.slider::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 217, 167, 0.247);
    z-index: -1; 
}
.food_talk{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 65px;
    color: white 
}
.slogan {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-family: 'Kalam', cursive;
    font-size: 35px;
    color: white
}
/*fin slider*/

/*inicio about us*/
#about_us{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--brown);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    color: white
}
.profiles{
    height: 100%;
    width: 100%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.profiles .ppal img{
    width: 580px;
    max-width: 100%;
    height: auto;
    padding: 0 10px;
}
.all-text{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}
.ppal{
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.all-text p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: var(--font_color);
    line-height: 20px;
    margin-bottom: 30px;
}

/*fin about us*/

/*inicio recetario*/

#Recetario {
    background-color: var(--primary);
}
#rece_titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:var(--brown);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    color: white
}
.recetas{
    display:flex;
    flex-direction: row;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
}
.card{
    font-family:'Noto Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-decoration: none;
    padding: 15px;
    background: linear-gradient(rgba(255, 226, 207, 0.555),rgba(246, 190, 126, 0.7), rgba(218, 130, 67, 0.66));
    color: var(--font_color);
}
/*fin recetario*/

/*inicio receta del día*/
#rece-dia-t{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--brown);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    color: white
}
.cookies-desc{
    font-family: 'Noto Sans', sans-serif;
    font-size: 30px;
    color: white; 
}
.cookies-desc2{
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    color: white; 
}
.form-check{
    font-family: 'Noto Sans', sans-serif;
    color: white; 
}
.fondo2{
    background-image: url(./assets/imagenes/cookie.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position:relative;
    z-index: 2;
    box-sizing: content-box;
}
.fondo2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 217, 167, 0.247);
    z-index: -1; 
}
/*fin receta del día*/

/*contacto*/
#contact_us{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: var(--brown);
    font-family: 'Noto Sans', sans-serif;
    font-size: 25px;
    color: white 
}
#Formulario {
    display:flex;
    justify-self: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    background-color: rgb(255, 245, 230);
}

#Formulario input{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
}
/*fin contacto*/

/*boton flotante*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: var(--brown);
	color:#FFF;
	border-radius:55px;
	text-align:center;
	box-shadow: 2px 2px 3px  rgba(218, 130, 67, 0.66);
}
.my-float{
	margin-top:22px;
}
/*fin boton flotante*/

/*inicio footer*/
#footer{
    background-color: rgba(218, 130, 67, 0.66);
    
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: rgba(218, 130, 67, 0.66);
}
.redes{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: rgba(218, 130, 67, 0.66);
}
.contact{
    background-color: rgba(218, 130, 67, 0.66);
    font-family: 'Noto Sans', sans-serif;
}
/*fin footer*/

/*ver si lo puedo poner*/
.foodfondo{
    background-image: url(./assets/imagenes/FOODTALKbckgrnd.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-x;
    position:relative;
    z-index: 2;
    box-sizing: content-box;
   
}
.foodfondo::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 217, 167, 0.247);
    z-index: -1; 
}